
.container{ 
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #61b8e0, #0b7cb1 );
}

.fundocadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.quadrado {
    
    width: 400px;
    height: 600px;
    background-color: #fc6c18;
    border-radius: 6px;
    padding: 16px;
    margin: 40px;
}


.quadrado h1{
    font-weight: bold;
    /* text-shadow: black 0.1em 0.1em 0.2em; */
    font-size: 32px;
    text-align: center;
    margin-top: 20px;
}

.quadrado input{
    display: block;
    width: 80%;
    height: 40px;
    border: 1px solid  #cccccc;
    border-radius: 15px;
    margin: 16px auto 0px;
    padding-left: 8px;
}

.quadrado button{
    display: block;
    width: 80%;
    height: 40px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    text-align: center;
    margin: 16px auto 0px;
    color: #ffffff;
    background-color: #0b7cb1;
   /*  text-shadow: black 0.1em 0.1em 0.2em;; */
}

.quadrado a{
    color: black;
    font-weight: bold;
    /* text-shadow: black 0.1em 0.1em 0.2em; */
    display: block;
    width: 80%;
    margin: 8px auto 0px;
    font-size: 18px;
    text-align: center;
}

.quadrado .escolha {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    /* text-shadow: black 0.1em 0.1em 0.2em; */
}

.quadrado .escolha-1 {
    display: flex;
    font-size: 14px;
    font-weight: bold;
}

.quadrado .escolha-1 input{
    margin-left: -130px;
}

.quadrado .escolha-1 span{
    margin-top: 10px;
    margin-left: -300px;
}


input[type=radio] {
    border: 0px;
    width: 100%;
    height: 20px;
}


.rodape {
    text-align: center;
    padding: 15px;
    margin-right: 15px;
}


@media (max-width: 768px) {

    .quadrado {
        margin-top: 130px;
        height: 620px;
    }

    .quadrado p {
        font-size: 12px;
    }

    .qualquer button{
        width: 100%;
    }
    
    .quadrado .escolha-1 span{
        margin-top: 10px;
        margin-left: -400px;
    }
}