
.container1{
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #61b8e0, #0b7cb1 );
}

.fundocadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

.quadrado {
    width: 40%;
    background-color: #fc6c18;
    border-radius: 6px;
    padding: 16px;
    margin: 40px;
}


.quadrado h1{
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}

.quadrado input{
    width: 100%;
    height: 40px;
    border: 1px solid  #cccccc;
    border-radius: 15px;
    margin: 16px auto 0px;
    padding-left: 8px;
}

.quadrado button{
    width: 100%;
    height: 40px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    text-align: center;
    margin: 16px auto 0px;
    color: #ffffff;
    background-color: #0b7cb1;
}

.quadrado a{
    color: black;
    font-weight: bold;
    display: block;
    width: 70%;
    margin: 8px auto 0px;
    font-size: 16px;
    text-align: center;
}

.quadrado .escolha {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    
}

.quadrado .escolha-1 {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
    
}

.quadrado .escolha-1 .front{
    text-align: center;
    width: 50%;
}

.quadrado .escolha-1 .back{
    text-align: center;
    width: 50%;
}


input[type=radio] {
    border: 0px;
    width: 100%;
    height: 20px;
}

.container1 .imagemcadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 100%;
    width: 50%;
}

.container1 .imagemcadastro img {
    width: 800px;
    height: 800px;
}

@media (max-width: 1377px) {
    .quadrado input{
        font-size: 12px;
    }
}

@media (max-width: 1025px) {
    .quadrado {
        width: 60%;
        background-color: #fc6c18;
        border-radius: 6px;
        padding: 16px;
        margin: 40px;
    }

    .quadrado a{
        font-size: 14px;
    }

    .quadrado .escolha {
        font-size: 14px;
    }
}


@media (max-width: 769px) {
    .quadrado h1{
        font-size: 22px;
    }

    .quadrado a{
        font-size: 12px;
    }

    .quadrado .escolha {
        font-size: 12px;
    }

    .quadrado .escolha-1{
        font-size: 12px;
    }

    .container1 .imagemcadastro img {
        width: 500px;
        height: 500px;
    }

    
}

@media (max-width: 415px) {
    .quadrado {
        width: 400px;
        height: 550px;
        background-color: #fc6c18;
        border-radius: 6px;
        padding: 16px;
        margin-top: 100px;
    }

    .container1 .fundocadastro {
        width: 100%;
    }

    .container1 .imagemcadastro {
        width: 0%;
    }

    .container1 .imagemcadastro img {
        display: none;
    }
}

@media (max-width: 376px) {
    .quadrado {
        width: 400px;
        height: 500px;
    }
    
    .quadrado input{
        display: block;
        width: 100%;
        border: 1px solid  #cccccc;
        border-radius: 15px;
        margin: 12px auto 0px;
        padding-left: 8px;
    }

}


@media (max-width: 361px) {
    
    .quadrado {
        width: 400px;
        height: 500px;
        background-color: #fc6c18;
        border-radius: 6px;
        padding: 16px;
    }
    
    .quadrado h1{
        font-size: 26px;
    }
    
    .quadrado input{
        width: 100%;
    }
    
    .quadrado button{
        width: 100%;
    }

    .fundocadastro .quadrado p {
        font-size: 14px;
    }
    
    .quadrado a{
        font-size: 10px;
        
    }
}

@media (max-width: 321px) {
    .quadrado {
        height: 440px;
    }
    
    .quadrado h1{
        font-size: 22px;
    }
    
    .quadrado input{
        width: 100%;
        height: 30px;
    }
    
    .quadrado button{
        height: 30px;
        width: 100%;
    }

    .fundocadastro .quadrado p {
        font-size: 12px;
    }
    
    .quadrado a{
        font-size: 10px;
        
    }

    input[type=radio] {
        border: 0px;
        width: 100%;
        height: 15px;
    }
}

