
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #61b8e0, #0b7cb1 );
}

.fundocontato {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.quadrado {
    width: 400px;
    height: 500px;
    background-color: #fc6c18;
    border-radius: 6px;
    padding: 16px;
    margin: 40px;
}

.quadrado h1 {
    font-weight: bold;
    /*text-shadow: black 0.1em 0.1em 0.2em;*/
    font-size: 32px;
    text-align: center;
    margin-top: 30px;
}

.quadrado input {
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin: 16px auto 0px;
    padding-left: 8px;
}

.quadrado button {
    display: block;
    background-color: #0b7cb1;
    width: 100%;
    height: 40px;
    border: 0;
    border-radius: 4px;
    text-align: center;
    margin: 16px auto 0px;
    color: white;
    font-weight: bold;
}

.quadrado textarea {
    display: block;
    width: 100%;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin: 16px auto 0px;
    padding-left: 8px;
}

.container .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container .footer h1 {
    font-size: 18px;
}

.container .footer .logos {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 15%;
}

.container .footer .logos img {
    width: 40px;
    height: 40px;
}

@media (max-width: 415px) {
    .container .footer h1 {
        font-size: 14px;
    }

    .container .footer .logos {
        width: 40%;
    }
}