
.jumbotron{ 
    display: flex;
    flex-direction: column;
    background-image: url('../imagens/banner_login2.jpeg');
    background-repeat: no-repeat;
    background-position: center -188px;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
}

.jumbotron h1{
    color: white;
    font-weight: bold;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.jumbotron p{
    color: white;
    font-size: 24px;
    text-shadow: black 0.1em 0.1em 0.2em;
}


@media (max-width: 768px) {
    .jumbotron h1{
        font-size: 30px;
    }

    .jumbotron p{
        font-size: 18px;
    }

    
}