@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600&family=Ubuntu:wght@500;700&display=swap');
*{
    margin:0;
    padding: 0;
}
nav{
    background-color: rgb(0, 194, 203);
}
nav a{
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-shadow: black 0.1em 0.1em 0.2em;
}
nav a:hover{
    color: rgb(255, 111, 22);
}

body{
    font-family: 'Archivo', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Ubuntu', sans-serif;
}

h1{
    font-size: 32px;
}

