main { /* classe pai */
    display: flex;
<<<<<<< Updated upstream
    width: 100vw;
    height: 100vh;

=======
    width:100vw;
    height: 60vh;
    /* background-image: url('../imagens/banner_login.png');
    background-repeat: no-repeat; */
>>>>>>> Stashed changes

}

.painel-login{
    display: flex;
    align-items: center;
    justify-content: center;
<<<<<<< Updated upstream
    width: 100%; /*Vai ocupar 50% da largura da classe pai "main"*/
    /*height: 100%;/* Vai ocupar 100% da altura da classe pai "main"*/
    background-color: white;
    
=======
    width: 50%;/* Vai ocupar 50% da largura da classe pai "main"*/
    height: 100%;/* Vai ocupar 100% da altura da classe pai "main"*/
    background-color: rgb(255, 111, 22);
>>>>>>> Stashed changes
}

.card{
    width: 50%;
<<<<<<< Updated upstream

=======
    height: 50%;
    background-color: rgb(255, 111, 22);
    border: 0px;
>>>>>>> Stashed changes
}

.card h1{
    justify-content: center;
    text-align: center;
    margin-bottom: 25px;
    font-size: 28px;
    font-family: 'Ubuntu', sans-serif;
}

.card input{
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 16px;
    border: 0;
    padding-left: 8px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    padding-left: 8px;
}

.card button{
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 16px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    color: white;
    background-color: rgb(0, 194, 203);
    text-shadow: black 0.1em 0.1em 0.2em;;
}

.card a{
    display: block;
    margin-top: 12px;
    font-size: 14px;
    text-align: center;
}

.painel-imagem {
    display: flex;
    align-items: center;
    justify-content: center;
<<<<<<< Updated upstream
    width: 100%;/* Vai ocupar 50% da largura da classe pai "main"*/
    /*height: 100%;/* Vai ocupar 100% da altura da classe pai "main"*/
    background-color: rgb(0, 194, 203);
=======
    width: 50%;/* Vai ocupar 50% da largura da classe pai "main"*/
    height: 100%;/* Vai ocupar 100% da altura da classe pai "main"*/
    background-color: blueviolet;
}

.painel-imagem img{
    width: 50%;
    height: 50%;
>>>>>>> Stashed changes
}


