.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #49a6d1, #0b7cb1);

}

.container h1 {
    margin-top: 80px;
    text-align: center;
    color: #fc6c18;
    font-weight: bold;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.curiosidades {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .container h1 {
        margin-top: 120px;
        font-size: 30px;
    }

    .curiosidades {
        margin-left: 40px;
    }

    .card {
        margin-top: 10px;
    }
}