.jumbotron{
    display: flex;
    flex-direction: column;
    height: 125vh;
    background-image: url('../imagens/banner_home4.png');
    background-repeat: no-repeat;
    background-position: center -188px;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
}

.Painel-inicial {
    height: 54vh;
    display: flex;
}

.inicial {
    width: 50%;
    height: 54vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jumbotron img{
    margin-top: -40px;
    width: 320px;
    height: 150px;

}

.jumbotron .Painel-inicial h1{
    color: white;
    font-weight: bold;
    text-shadow: black 0.1em 0.1em 0.2em;
}
.jumbotron .Painel-inicial p{
    font-size: 18px;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.container {
    display: flex;
    width: 160vh;
    flex-direction: column;
}

.jumbotron .container h1 {
    font-weight: bold;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.jumbotron .container .container-inter p {
    font-size: 18px;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.container-inter {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
}

.jumbotron .container .container-inter .mercado p {
    margin-top: -100px;
}

.mercado img{
    margin-top: -100px;
    height: 400px;
    width: 400px; 
}

.salario img {
    height: 250px;
}

.jumbotron .container .container-inter .adapta p {
    margin-top: -55px;
}

.adapta img {
    margin-top: -50px;
    height: 300px;
}

@media (max-width: 768px) {
    .jumbotron {
           height: 1300px;
    }

    .jumbotron .Painel-inicial .inicial {
        width: 100%;
    }

    .jumbotron .Painel-inicial .inicial img {
        margin-top: 30px;
        width: 190px;
        height: 100px;
    }

    .jumbotron .Painel-inicial .inicial h1{
        font-size: 20px;
    }

    .jumbotron .Painel-inicial .inicial p{
        margin-top: -10px;
        font-size: 12px;
    }

    .container {
        margin-top: 120px;
        display: flex;
        flex-direction: column;
    }

    .container h1 {
        font-size: 22px;
    }

    .container-inter {
        display: flex;
        flex-direction: column;
    }

    .mercado img{
        margin-top: -120px;
        height: 280px;
        width: 280px; 
    }

    .jumbotron .container .container-inter .mercado p {
        font-size: 14px;
        padding-top: 30px;
    }

    .salario img {
        margin-top: -40px;
        height: 180px;
        width: 250px;
    }
    
    .jumbotron .container .container-inter .salario p {
        font-size: 14px;
        margin-top: -40px;
    }
        
    .adapta img {
        margin-top: -50px;
        height: 220px;
        width: 220px;
    }

    .jumbotron .container .container-inter .adapta p  {
        font-size: 14px;
        margin-top: -50px;
    }

}

