.container {
    display: flex;
    flex-direction: column;
    width: 100vh;
    height: 100vh;
    background-image: url('../imagens/banner_quem_somos.png');
    background-repeat: no-repeat;
    background-position: center -188px;
    background-attachment: scroll;
    background-size: cover;
    text-align: center;
}

.container h4 {
    text-align: center;
    color: orange;
    font-weight: bold;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 32px;
}

.container p {
    color: white;
    font-size: 10px;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.container h1 {
    color: white;
    font-weight: bold;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.container-1 {
    display: flex;
    width: 100%;
    height: 84vh;
}


@media (max-width: 768px) {
    .jumbotron h1 {
        font-size: 30px;
    }

    .jumbotron p {
        font-size: 16px;
    }

    .container-fluid{
        display: flex;
        flex-direction: column;
    }

    .rodape {
        margin-top: 400px;
    }
}

    