.container {
    display: flex;
    flex-direction: column;
    width: 125vh;
    height: 100vh;
    background-image: url('../imagens/banner_quem_somos.png');
    background-repeat: no-repeat;
    background-position: center -188px;
    background-attachment: scroll;
    background-size: cover;
    text-align: center;
}

.container h4 {
    text-align: center;
    color:  #fc6c18;
    font-weight: bold;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 34px;
}

.container p {
    color: white;
    font-size: 20px;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.container h1 {
    margin-top: 80px;
    text-align: center;
    color: #fc6c18;
    font-weight: bold;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.container-1 {
    display: flex;
    margin-top: 50px;
    margin-left: -280px;
    width: 180vh;
    height: 84vh;
}

.container-1 .container-2 {
    width: 60vh;
}

.container-1 .container-3 {
    width: 60vh;
}

.container-1 .container-4 {
    width: 60vh;
}

@media (max-width: 768px) {
    .container h1 {
        margin-top: 120px;
        font-size: 30px;
    }

    .container h4 {
        font-size: 24px;
    }

    .container-1 {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-left: -10px;
    }

    .container p {
        font-size: 10px;
    }

    .container-fluid{
        display: flex;
        flex-direction: column;
    }

    .rodape {
        margin-top: 400px;
    }

    .container-1 .container-2 {
        width: 100%;
    }
    
    .container-1 .container-3 {
        width: 100%;
    }
    
    .container-1 .container-4 {
        width: 100%;
    }
}

    