.jumbotron {
    background-image: url('../imagens/banner_quem_somos2.png');
    margin-top: -5px;
    background-size:cover;
    height: 720px;
    
    }

    .jumbotron h4 {
        text-align: center;
        color: orange;
        font-weight: bold;
        text-shadow: black 0.1em 0.1em 0.2em;
    }

    .jumbotron p {
        color: white;
        font-size: 16px;
        text-shadow: black 0.1em 0.1em 0.2em;
    }

    .jumbotron h1 {
        margin-top: -20px;
        margin-left: 50px;
        color: white;
        font-weight: bold;
        text-shadow: black 0.1em 0.1em 0.2em;
        }

    #box {
        border: 0px solid white;
        width: 30%;    
        display: inline-block;
    }

    